<div class="Userpage-title"><%= @user.user_name %>さんが参加したパーティ</div>
  <% @user_attends.each do |attend| %>
    <p>日時: <%= attend.event.started_date %></p>
    <p>パーティ名: <%= attend.event.name %></p>
    <p>パーティ内容: <%= attend.event.context %></p>
  <% end %>