/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);
@import url(https://fonts.googleapis.com/earlyaccess/mplus1p.css);

html, body {
  height: 100%;
  margin: 0;
}


header {
  position: fixed;
  background-color :white;
  height: 60px;
  margin: -8px 0px 0px 0px;
}

.site-title {
  padding-left: 20px;
  font-family: 'Rounded Mplus 1c';  
  font-size: 20px;
}

.site-title a {
  text-decoration: none;
  color :#ff607c;
}

.site-title a:visited {
  text-decoration: none;
  color :#ff607c;
}

.main {
  padding-top: 80px;
  width: 60%;
  margin: 0 auto;
  
}
#wrapper { 
  min-height: 100%;
}

#footer {
  height: 10px;
  width: 100%;
  text-align: center;
  margin-top: -30px
}

.copyright{
  padding-bottom: 2%;
}

.header-nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
}

.nav-header {
  margin-left: auto;
  padding-right: 20px;
}

.nav-list-ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  padding-right: 30px;
}
 @media screen and (max-width: 640px){
  .nav-list-ul {
    display: none;
  }
  }

.nav-list-li {
  margin-left: 16px;
  list-style: none;
  font-family: 'Rounded Mplus 1c';
}
.nav-list-li a {
  text-decoration: none;
}

.attend-form {
  padding-top: 60px;
  width: 80%;
}

.attend-complete {
  padding-top: 60px;
}

.attend-user {
  display: flex;
}

.attend-user-name {
  margin-top: 10px;
  margin-left: 5px;
}

.attend-user-icon {
}
