@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);
@import url(https://fonts.googleapis.com/earlyaccess/mplus1p.css);
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}


header {
  position: fixed;
  background-color: #504946;
  height: 60px;
  margin: -8px 0px 0px 0px;
}

.site-title {
  padding-left: 20px;
  font-family: 'Rounded Mplus 1c';  
  font-size: 1em;
}

.site-title a {
  text-decoration: none;
  color :#bbdbf3;
}

.site-title a:visited {
  text-decoration: none;
  color :#bbdbf3;
}

.user-attend-index {
  color :#bbdbf3;
}

.main {
  padding-top: 60px;
  width: 60%;
  margin: 0 auto;
  @media screen and (max-width: 640px) {
  width: 90%;
  }  
}
 
#wrapper { 
  min-height: 100%;
  background-color: #fff8fc;
}

#footer {
  height: 10px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.copyright{
  padding-bottom: 1%;
  text-decoration: none;
}

.header-nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
}

.nav-header {
  margin-left: auto;
  padding-right: 20px;
}

.nav-list-ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  padding-right: 30px;
}
 @media screen and (max-width: 640px){
  .nav-list-ul {
    display: none;
  }
  }

.nav-list-li {
  margin-left: 16px;
  list-style: none;
  font-family: 'Rounded Mplus 1c';
}
.nav-list-li a {
  text-decoration: none;
}

.attend-form-box {
  margin-top: 20px;
}

.attend-form {
  text-align: center;
}

.attend-complete {
  padding-top: 60px;
}

.attend-user {
  display: flex;
  width: 60%;
}

.attend-user-name {
  margin-top: 10px;
  margin-left: 5px;
}

.attend-user-icon {
}

.Party-info {
  height: 100%;
  margin: 0 auto;
  background-color :white;
  padding: 10px;
  margin-top: 15px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  border-top: solid 5px #5d627b;
}

.home-title {
  font-size: 1.9em;
  font-family: 'Rounded Mplus 1c';
  padding-bottom: 10px;
  padding: 0.5em 1em;
  margin: 1em 0;
  color: #504946;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  @media screen and (max-width: 640px) {
  font-size: 1em;
  }
}

.party-index {
  text-align: left;
  font-size: 1.4em;
  padding: 0.5em 1em;
  margin: 2em 0;
  width: 58%;
  margin: 0 auto;
  background: white;
  border-top: solid 5px #f19ca7;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  @media screen and (max-width: 640px) {
  width: 80%;
  font-size: 1.0em;
  }
}


.Party-info-time {
  text-align: left;
  font-size: 1.4em;
  padding: 5px 5px 0px 5px;
}

.Party-info-time-context {
  font-size: 1.7em;
}

.Party-info-name {
  text-align: left;
  font-size: 1.7em;
  padding: 5px;
  margin-bottom: 15px;
}

.Party-info-context-name {
  text-align: left;
  font-size: 1.4em;
  padding: 5px;
}

.Party-info-context {
  margin-bottom: 15px;
}

.Party-info-place {
  text-align: left;
  font-size: 1.4em;
  padding: 5px;
  margin-bottom: 15px;
}

.Party-info-contact {
  text-align: left;
  font-size: 1.4em;
  padding: 5px;
  word-break: break-all;
}

.Party-info-organaizer {
  text-align: left;
  font-size: 1.4em;
  padding: 5px;
}

.party-attend {
  text-align: center;
}

.party-attend-button {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: black;
  border: double 4px black;
  border-radius: 3px;
  transition: .4s;
  font-size: 1.2em;
  @media screen and (max-width: 640px) {
  font-size: 0.8em;
  }
}

.party-attend {
  margin-top: 20px;
  margin-bottom: 20px;
}
.party-attend-button a {
  text-decoration: none;
}

.party-attend-button a:visited {
  text-decoration: none;
  color: black;
}
.party-attend-button:hover {
  background: #fffbef;
}

.Party-info-box {
  width: 90%;
  display: block;
  margin: 0 auto;
  @media screen and (max-width: 640px) {
  font-size: 0.7em;
  }
}

.attend-index {
  text-align: left;
  font-size: 1.4em;
  padding: 0.5em 1em;
  margin: 2em 0;
  margin: 0 auto;
  background: white;
  border-top: solid 5px #f19ca7;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  margin-top: 10px;
  margin-bottom: 10px;
  @media screen and (max-width: 640px) {
  width: 80%;
  font-size: 1.0em;
  }
}

.cancel-attend {
  text-align: center;
  margin-top: 40px;
}

.cancel-attend-button {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: black;
  border: double 4px black;
  border-radius: 3px;
  transition: .4s;
  font-size: 1.2em;
  @media screen and (max-width: 640px) {
  font-size: 0.8em;
  }
}

.attend-tips {
  font-size: 0.8em;
}

.attend-conmplete-text {
  text-align: center;
  font-size: 1.2em
}

.f-customize {
  font-size : 40px;
  color: #3b5998;
}

.t-customize {
  font-size : 40px;
  color: #55ACEE;
}

.share-icon-box {
  display: flex;
}

.show-share-icon-box {
  display: flex;
  justify-content: flex-end;
}

.facebook_share_icon {
  margin-left: 10px;
}

.share-icon {
  width: 88%;
  margin: 0 auto;
}

.party-name-form textarea{
  height: 40px;
  width: 100%;
}

.party-context-form textarea{
  height: 40px;
  width: 100%;
}

.party-place-form textarea{
  height: 40px;
  width: 100%;
}

.party-contact-form textarea{
  height: 40px;
  width: 100%;
}