<div class="attend-complete">
<p>参加登録完了です！</p>
<%= link_to "ホームに戻る", root_url %>
<%= link_to "パーティの詳細を確認(参加者や場所の確認、主催者へのコメントができるようになりました!", event_path(@attend.event.id) %>
<div class="twitter-share-link">Twitterに共有</div>
<div class0="Facebook-share-link">Facebookに共有</div>
</div>